*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.CodeEditor{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.CodeWritingDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:4px;
}

.LanguageName{
    padding-left: 10px;
    background-color: hsl(0, 42%, 48%);
}

.CodeWritingDiv > textarea{
    background-color: #34363e;
    color: rgba(229, 197, 39, 0.977);
    font-family: Sans-serif,;
}

.OutputDiv{
    padding: 4px;
}

#Output{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.516);
}
