* {
  margin: 0;
  padding: 0;
}

.CodeEditor {
  background-color: #413f3f;
  display: grid;
}

.CodeWritingDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.LanguageName {
  padding-left: 55px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #2f2b2b;
  color: white;
  line-height: 30px;
}

.CodeWritingDiv>textarea {
  padding: 2px;
  background-color: #34363e;
  font-family: serif;
  margin-left: 3px;
  border: none;
  width: auto;
  font-size: small;
}

.OutputDiv {
  padding-right: 10px;
}

.OutputDiv>div {
  display: flex;
  justify-content: flex-end;
  padding: 1px;
}

#Output {
  width: 100%;
  background-color: white;
  color: black;
  height: 43.5vh;
  border: 5px solid #5a5b51;
}

li {
  display: grid;
  justify-content: center;
  background-color: #5a5b51;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-weight: 700;
}

.height{
  height: 100vh !important;
}
.hiddenclass{
  height: 0px !important;
  border: 0px !important;
} 