*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.CodeEditor{
    display: grid;
}

.CodeWritingDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.LanguageName{
    padding-left: 10px;
    margin-left: 3px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    background-color: #2f2b2b;
    color: white;
}

.CodeWritingDiv > textarea{
    padding: 2px;
    background-color: #34363e;
    color: rgba(229, 197, 39, 0.977);
    font-family: serif;
    margin-left:3px;
    border: none;
}

textarea:focus{
    outline: none;
}

.OutputDiv{
    padding: 4px;
}

#Output{
    width: 100%;
    background-color: #a7a2a2;
    color: black;
    height: 43.5vh;
}

#Console{
    background-color: green;
    border: 1px solid green;
}
